{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Create a note</h3>
        </div>
        <div class="card-body">
            <form action="/notes/save" method="post">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
                </div>
                <br>
                <div class="form-group">
                    <textarea name="description" class="form-control" rows="7" placeholder="Description"></textarea>
                </div>
                <br>
                <div class="form-group">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>