<div class="row">
    <div class="col-md-4 mx-auto">
        <center>
            <img src="/img/logo.png" alt="logo" class="mx-auto logo m-4">
        </center>
        <form action="/users/signinSave" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Correo" autofocus>
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Contraseña">
            </div>
            <br>
            <div class="form-group">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>